streamlit==1.31.*
Pillow==10.2.*
notebook==7.1.*
pandas==2.2.*
numpy==1.26.*
pytest==8.0.*
pytest-mock==3.12.*
matplotlib==3.8.*

# OpenCV
opencv-contrib-python==4.9.*
# cmake
# scipy
# matplotlib
# scikit-learn
# ipython
